{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "env": {
    "testing": {
      "plugins": [
        "syntax-async-functions",
        "transform-regenerator",
        "istanbul"
      ]
    },
    "development": {
      "plugins": [
        "syntax-async-functions",
        "transform-regenerator"
      ]
    }
  }
}
