//
// <Project name>
// =============================================================================

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';
@import 'atom-one-dark';

$body-bg: rgba(0,0,0,0.025);
$button-tab-bg: #E0E2E6;

body {
  background-color: $body-bg;
}

html, body, .Container, :root {
  overflow-y: hidden;
  height: 100%;
}

body {
  @include container();
}

.Container {
  background-color: white;
  position: relative;
  @include row();
}

.Container__menu {
  height: 100%;
  overflow-y: auto;
  border-right: $border-default;
  border-left: $border-default;
  @include column(1/5, false);
}

.Container__content {
  padding-top: 15px;
  padding-bottom: 25px;
  height: 100%;
  overflow-y: auto;
  border-right: $border-default;
  @include column(4/5);
}

.HeadingBlock {
  margin-bottom: 20px;
  position: relative;
}

.Heading {
  font-weight: 300;
}

.Heading--underlined {
  display: inline;
  border-bottom: 1px solid getColor(text, primary);
}

.Heading--muted {
  opacity: 0.6;
}

.Heading--filename {
  margin-top: 15px;
  margin-bottom: 5px;
  + figure { margin-top: 10px; }
}

.List {
  list-style: none;
  margin-top: 40px;
  padding: 0px;
}

.List__item {
  margin-bottom: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.List__item--indented {
  padding-left: 20px;
}

.List__item--selected {
  background-color: rgba(0,0,0,0.05);
  opacity: 0.9;
}

.highlight {
  font-size: 18px;
}

.Logo {
  border-radius: 2px;
  padding: 4px;
}

.Logo--github {
  position: absolute;
  top: 0;
  right: 0;
  background-color: getColor(text, primary);
}

.Rule--feint {
  border-color: rgba(0,0,0,0.075);
}


.Button--exampleToggle {
  display: inline;
  cursor: pointer;
  background-color: $button-tab-bg;
  transition: all 300ms ease;
  padding: 3px;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid darken($button-tab-bg, 12.5%);

  &:hover {
    background-color: lighten($button-tab-bg, 10%);
  }
}
